.active-nav-link {
    background-color: #7367f0 !important;
    border: 1px solid #7367f0 !important;
    color: #fff !important;
    border-radius: 0.5rem !important;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
 }
 
 .active-nav-link > i {
    color: unset !important;
 }
 
 .active-nav-link:hover {
    background-color: #5b4df5 !important;
    border: 1px solid #5b4df5 !important;
    color: #fff !important;
    border-radius: 0.5rem !important;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
 } 